<p></p>
<ng-container>
    <div class="container">
        <div class="card">
            <h5 class="card-title">Revolution</h5>
        </div>
        <div>
             <div class="slideshow">
               <!-- <img  class="yamyam" [src]="yamyouma2" alt="">-->
            <ul>
            <li><img  class="yamyam" [src]="yamyouma2" alt=""></li>
            <li><img  class="yamyam" [src]="yamyouma3" alt=""></li>
            <li><img  class="yamyam" [src]="yamyouma4" alt=""></li>
            <li><img  class="yamyam" [src]="yamyouma5" alt=""></li>
            <li><img  class="yamyam" [src]="yamyouma6" alt=""></li>
            </ul>
            <div class="barre_progression"></div>
        </div>
  <h4 class="dada">Site d'achat en ligne</h4>
            <h6 class="dada1">Revolution Beauty se consacre entièrement à développer d'incroyables produits de beauté cruelty-free pour tout le monde, dans toutes les teintes et à prix accessible.
                Produit !!
Nous mettons tout en œuvre pour fournir à nos clients les ingrédients, la technologie et les formules les plus modernes, à petit prix. Nous voulons éliminer tout ce qui constitue un obstacle à l'achat de produits de beauté, qu'il s'agisse du prix, de la gamme de teintes ou de l'accessibilité
Notre credo sera toujours #progressnotperfection.
            </h6>
        
        <button routerLink="/products" class="btn btn-secondary" >ajouter des produits !</button>
    
    </div>
        
    </div>
</ng-container>